th {
    background-color : #1260B3;
    color            : #ffab19;
    vertical-align   : middle !important;
    text-align       : center;
}

th.sortable {
    background-position : right;
    background-repeat   : no-repeat;
    background-image    : url(../../images/skin/upDown.png);
    padding-right       : 1.1em;
}

th.asc {
    background-image : url(../../images/skin/up.png);
}

th.desc {
    background-image : url(../../images/skin/down.png);
}

th a {
    color : #ffab19;
}

th a:hover, th a:focus {
    color : #ffc766;
}