.vakata-context {
    display : none;
}

.vakata-context,
.vakata-context ul {
    margin             : 0;
    padding            : 2px;
    position           : absolute;
    background         : #f5f5f5;
    border             : 1px solid #979797;
    -moz-box-shadow    : 5px 5px 4px -4px #666666;
    -webkit-box-shadow : 2px 2px 2px #999999;
    box-shadow         : 2px 2px 2px #999999;
}

.vakata-context ul {
    list-style  : none;
    left        : 100%;
    margin-top  : -2.7em;
    margin-left : -4px;
}

.vakata-context .vakata-context-right ul {
    left         : auto;
    right        : 100%;
    margin-left  : auto;
    margin-right : -4px;
}

.vakata-context li {
    list-style : none;
    display    : inline;
}

.vakata-context li a {
    display               : block;
    padding               : 0 2em 0 2em;
    text-decoration       : none;
    width                 : auto;
    color                 : black;
    white-space           : nowrap;
    line-height           : 20px !important;
    -moz-text-shadow      : 1px 1px 0 white;
    -webkit-text-shadow   : 1px 1px 0 white;
    text-shadow           : 1px 1px 0 white;
    -moz-border-radius    : 1px;
    -webkit-border-radius : 1px;
    border-radius         : 1px;
}

.vakata-context li a:hover {
    position           : relative;
    background-color   : #e8eff7;
    -moz-box-shadow    : 0 0 2px #0a6aa1;
    -webkit-box-shadow : 0 0 2px #0a6aa1;
    box-shadow         : 0 0 2px #0a6aa1;
}

.vakata-context li a.vakata-context-parent {
    background-image    : url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==");
    background-position : right center;
    background-repeat   : no-repeat;
}

.vakata-context .vakata-context-hover > a {
    position           : relative;
    background-color   : #e8eff7;
    -moz-box-shadow    : 0 0 2px #0a6aa1;
    -webkit-box-shadow : 0 0 2px #0a6aa1;
    box-shadow         : 0 0 2px #0a6aa1;
}

.vakata-context .vakata-context-separator a,
.vakata-context .vakata-context-separator a:hover {
    background            : white;
    border                : 0;
    border-top            : 1px solid #e2e3e3;
    height                : 1px;
    min-height            : 1px;
    max-height            : 1px;
    padding               : 0;
    margin                : 0 0 0 2.4em;
    border-left           : 1px solid #e0e0e0;
    -moz-text-shadow      : 0 0 0 transparent;
    -webkit-text-shadow   : 0 0 0 transparent;
    text-shadow           : 0 0 0 transparent;
    -moz-box-shadow       : 0 0 0 transparent;
    -webkit-box-shadow    : 0 0 0 transparent;
    box-shadow            : 0 0 0 transparent;
    -moz-border-radius    : 0;
    -webkit-border-radius : 0;
    border-radius         : 0;
}

.vakata-context .vakata-contextmenu-disabled a,
.vakata-context .vakata-contextmenu-disabled a:hover {
    color            : silver;
    background-color : transparent;
    border           : 0;
    box-shadow       : 0 0 0;
}

.vakata-context li a ins {
    text-decoration : none;
    display         : inline-block;
    width           : 25px !important;
    height          : 20px !important;
    background      : transparent;
    margin          : 0 0 0 -20px !important;
}

.vakata-context li a span {
    display     : inline-block;
    width       : 1px;
    height      : 20px !important;
    background  : white;
    margin      : 0 0.5em 0 0;
    border-left : 1px solid #e2e3e3;
}

.vakata-context-rtl ul {
    left         : auto;
    right        : 100%;
    margin-left  : auto;
    margin-right : -4px;
}

.vakata-context-rtl li a.vakata-context-parent {
    background-image    : url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7");
    background-position : left center;
    background-repeat   : no-repeat;
}

.vakata-context-rtl .vakata-context-separator a {
    margin       : 0 2.4em 0 0;
    border-left  : 0;
    border-right : 1px solid #e2e3e3;
}

.vakata-context-rtl .vakata-context-left ul {
    right        : auto;
    left         : 100%;
    margin-left  : -4px;
    margin-right : auto;
}

.vakata-context-rtl li a ins {
    margin : 0 -2em 0 0;
}

.vakata-context-rtl li a span {
    margin            : 0 0 0 0.5em;
    border-left-color : white;
    background        : #e2e3e3;
}